{template common/header}
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" id="fjump" class="nvhm">$_G[setting][bbname]</a><EM></EM><a href="plugin.php?id=tsdmtag">{lang tsdmtag_title}</a>
	</div>
</div>
<style>
	.floatsys{float:left}
	.tag_left{}
	.tag_right{350px}
	.tag_new{}
</style>
<div id="ct" class="ct2_a wp cl">
	<div id="ct_shell">
		<div>Explore in TSDM</div>
		<div class="tag_left floatsys">
			<!--{if $mytaginfos}-->
			<div>
				<p><span>我订阅的Tag</span><a href="plugin.php?id=tsdmtag:mytag">订阅管理</a></p>
				<ul>
				<!--{loop $mytaginfos $mytaginfo}-->
					<li <!--{if $mytaginfo[new]}-->class="tag_new"<!--{/if}-->>
						<a href="plugin.php?id=tsdmtag&key=tag&action=searchtag&tagid=$mytaginfo[id]"><span>$mytaginfo[tag_name]</span>
						<span> ($mytaginfo[count])</span></a>
					</li>
				<!--{/loop}-->
				</ul>
			</div>
			<!--{/if}-->
			<div>
				<p><span>热门Tag</span></p>
				<ul>
				<!--{loop $top20tags $toptag}-->
					<li>
					<a href="plugin.php?id=tsdmtag&key=tag&action=searchtag&tagid=$toptag[id]"><span>$toptag[tag_name]</span>
					<span> ($toptag[count])</span></a>
					</li>
				<!--{/loop}-->
				</ul>
			</div>
		 </div>
		 {subtemplate tsdmtag:right_ctl}
	<div>
		<p>Debuginfo:</p>
		<p>$item_count item(s), $tag_count tag(s).</p>
	</div>
	</div>
</div>
{template common/footer}