 <!--{subtemplate common/header}-->
 
 <h2>TSDM tag system</h2>
 <h3>Status</h3>
 <p>$item_count item(s), $tag_count tag(s).</p>
 <p>top20 tags: </p>
 <!--{loop $top20tags $toptag}-->
 <a href="plugin.php?id=tsdmtag&key=tag&action=searchtag&tagid=$toptag[id]"><span>$toptag[tag_name]</span><span> ($toptag[count])</span></a><span class="pipe"> |</span>
 <!--{/loop}-->
  <div class="box">
	<h3>Panel</h3>
	<div>
	<h4>Find tag name</h4>
		<form action="plugin.php?id=tsdmtag&key=tag&action=searchtag_keyword" method="post">
			<label for="findtagname">tagname?</label>
			<input type="text" name="findtagname"/>
			<input type="submit" />
		</form>
	</div>
	<div>
		<h4>Find tag id</h4>
		<form action="plugin.php?id=tsdmtag&key=tag&action=searchtag" method="post">
			<label for="findtagname">tagid?</label>
			<input type="text" name="tagid"/>
			<input type="submit" />
		</form>
	</div>
 </div>
 
  <!--{subtemplate common/footer}-->